<header class="contenedor grid-header mb-5">
    <div class="logo">
        <h1>Shopping Mall</h1>
    </div>
    <nav class="navegacion"> 
        <a class="nav__link" href="productos.ejs"><i class="fas fa-boxes"></i>Productos</a>
        <a class="nav__link active" href="clientes.ejs"><i class="fas fa-users"></i>Clientes</a>
        <a class="nav__link" href="ventas.ejs"><i class="fas fa-dollar-sign"></i>Ventas</a>
        <a class="nav__link" href="reportes.ejs"><i class="far fa-file-alt"></i>Reportes</a>
        <a class="nav__link" href="consolidacion.ejs"><i class="fas fa-file-invoice-dollar"></i>Consolidación</a>
    </nav>
</header>