<!DOCTYPE html>
<html lang='<%- lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Clientes'}) %>
<body>
    <div class="wavesClientes">
        <%- include('../template/navbar') %>
    
        <main class="contenedor">
            <div class="sede text-center">
                <h2>Sede <span>Bogotá</span></h2>
            </div>
            <div class="contenedor-form">
                <form action='/clientes/create' class="formulario-clientes" method="post">
                    
                    <div class="grid-cajas">
                        <div class="input-group cedula">
                            <label class="input-fill" for="cedula">
                                <input type="text" id="cedula" name="cedula">
                                <span class="input-label">Cédula:</span>
                                <i class="fas fa-id-badge"></i>
                            </label>
                        </div>
    
                        <div class="input-group telefono">
                            <label class="input-fill" for="telefono">
                                <input type="tel" id="telefono" name="telefono">
                                <span class="input-label">Teléfono:</span>
                                <i class="fas fa-phone-square-alt"></i>
                            </label>
                        </div>
    
                        <div class="input-group direccion">
                            <label class="input-fill" for="direccion" name="direccion">
                                <input type="text" id="direccion" >
                                <span class="input-label">Dirección:</span>
                                <i class="fas fa-street-view"></i>
                            </label>
                        </div>
    
                        <div class="input-group nombre">
                            <label class="input-fill" for="nombre">
                                <input class="nombre" type="text" id="nombre" name="nombre">
                                <span class="input-label">Nombre:</span>
                                <i class="fas fa-signature"></i>
                            </label>
                        </div>
    
                        <div class="input-group correo">
                            <label class="input-fill" for="correo">
                                <input type="text" id="correo" name="correo">
                                <span class="input-label">Correo:</span>
                                <i class="fas fa-at"></i>
                            </label>
                        </div>

                        <input type="submit" value="enviar">
                    </div>
                </form>
            </div>
        </main>
    
        <section class="contenedor botones">
            <div class="grid-botones">
                <div class="boton">
                    <a href="#">Consultar</a>
                </div>
    
                <div class="boton">
                    <a href="#">Crear</a>
                </div>
    
                <div class="boton">
                    <a href="#">Actualizar</a>
                </div>
    
                <div class="boton">
                    <a href="#">Borrar</a>
                </div>
            </div>
        </section>
    </div>

    <script src="js/ajax.js"></script>
    <%- include('../template/footer') %>
</body>
</html>