<!DOCTYPE html>
<html lang='<%- lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Clientes'}) %>
<body>
    <script src="js/ajax.js"></script>
    <%- include('../template/footer') %>
</body>
</html>