<!DOCTYPE html>
<html lang='<%- lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Main'}) %>
<body>
    <%- include('../template/navbar') %>
    <div style="height: calc(90vh - 140px - 164px - 50px);">
        <img src="img/welcome.svg" alt="Welcome" height="100%" style="display:block; margin:auto">
    </div>
    <%- include('../template/footer') %>
</body>
</html>